{% extends 'index.html.twig' %}

{% block content %}

<div class="container mt-5">
    <x-flashdata></x-flashdata>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="mb-4">Password Reset</h2>

                {% if reset is defined and reset %}
                    <div class="container">
                        <form action="/reset_password" method="post">
                            <input type="hidden" name="token" value="{{get.token}}">

                            <div class="mb-3">
                                <label class="form-label">Password:</label>
                                <input class="form-control" type="password" name="new_password" required>
                                <p id="password_match_error" class="text-danger"></p>
                            </div>


                            <div class="mb-3">
                                <label class="form-label">Conferma Password:</label>
                                <input class="form-control" type="password" name="confirm_password" required>
                            </div>

                            <button class="btn btn-primary float-end" type="submit">Reset password</button>
                        </form>
                    </div>
                {% else %}
                    <p class="text-danger">La richiesta di reset della password non è ancora stata autorizzata dall'admin.</p>
                {% endif %}


            <div class="container row mt-4 align-middle">
                <div class=" float-end">
                    <a href="/" class="text-muted">Torna al login</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", (event) => {
    form = document.querySelector('form');

    if(form.length) {
        form.addEventListener("submit", checkPasswordMatch);
    }
});

function checkPasswordMatch(e)
{
    e.preventDefault();
    e.stopPropagation();

    const password1 = e.target.querySelector('[name="new_password"]').value;
    const password2 = e.target.querySelector('[name="confirm_password"]').value;

    if (password1 !== password2) {
        document.querySelector('#password_match_error').innerText = "Le password non combaciano"
        return false;
    }

    if(password1.length <= 5) {
        document.querySelector('#password_match_error').innerText = "Le password è troppo corta"
        return false;
    }

    e.target.submit();
}

</script>
{% endblock content %}