{% extends 'index.html.twig' %}

{% block content %}

<div class="alert alert-primary mt-3" role="alert">
  You are now logged in!
</div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // plugins: [ "interactionPlugin" ],
            locale: "it",
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            firstDay: 1,
            showNonCurrentDates: false,
            dateClick: function(info) {
                alert('Clicked on: ' + info.dateStr);
                alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                alert('Current view: ' + info.view.type);
                // change the day's background color just for fun
                info.dayEl.style.backgroundColor = 'red';
            },
            // events: function(info, successCallback, failureCallback){
            //     alert(info)

            //     var start = info.startStr;
            //     var end = info.endStr;
                
            //     axios.get('/api/events/date/?start=' + start + '&end=' + end)
            //     // .then(response => response.json())
            //     .then(data => {
            //         console.log(data);
            //         successCallback(data);
            //     })
            //     .catch(error => {
            //         failureCallback(error.message);
            //     });
            // },
            eventClick: function(info) {

                // console.log(info)

                // Function to execute when an event is clicked
                // alert('Clicked on: ' + info.event.title + "\nID: " + info.event.id);

                fillEvent(info.event.id);
            },
            //https://fullcalendar.io/docs/events-function
            events: "/api/events/date/",
            // datesSet: function(arg) {
            //     console.log(arg);
            //     alert('The new date range is: ' + arg.start + ' to ' + arg.end);
            // },
            aspectRatio: 1.5,
            handleWindowResize: true,
        });

        calendar.render();
    });

</script>

<div class="row">
    <div class="col-lg-12 mb-3">
        <button class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#newEventModal">Aggiungi Prenotazione</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div id='calendar'></div>
        </div>
        <div class="col-lg-4 mb-3">
            <div style="background-color:#EEEEEE; padding: 4px; border-radius: 10px; overflow: hidden;">
                <x-forms.prenotazione class="short" id="form-prenotazione-summary" class="readonly-form" short type="div">
                    <button class="btn btn-primary float-end" id="open-btn" data-bs-toggle="modal" data-bs-target="#viewEventModal" disabled>Visualizza <i class="bi bi-eye-fill"></i></button>
                    {# <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Conferma"> #}

                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg fade" id="viewEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <x-forms.prenotazione id="form-prenotazione" type="form">
                    <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Modifica">
                    <button class="btn btn-danger" onclick="deleteEvent(event)"><i class="bi bi-trash"></i></button>

                    <x-slot name="second_col">
                        <h2>Files</h2>

                        <x-forms.file id="fileForm"></x-forms.file>
                        <x-table.file id="fileTable"></x-table.file>
                    </x-slot>
                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiungi Prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <x-forms.prenotazione id="form-new-prenotazione" type="form">
                    <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Conferma">    
                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>

{% set script_location = url ~ "/templates/scripts/" %}

<script src={{ script_location ~ "cache.js" }}></script>
<script src={{ script_location ~ "utils.js" }}></script>
<script src={{ script_location ~ "calendar.js" }}></script>
<script src={{ script_location ~ "files.js" }}></script>

<script>

document.addEventListener("DOMContentLoaded", function() {
    var forms = document.querySelectorAll('.readonly-form');

    forms.forEach(form => {
        disableForm(form, 2);
    });

});

</script>
{% endblock content %}
