{% extends 'index.html.twig' %}

{% block content %}

{# <div class="alert alert-primary mt-3" role="alert">
  You are now logged in!
</div> #}

<style>
.loader-overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    z-index: 999; /* Ensure it's on top of other elements */
    display: none; /* Hide the loader overlay initially */
}
</style>

<script>
// To show the loader overlay
function showLoader() {
    document.getElementById('loaderOverlay').classList.remove('d-none');
}

// To hide the loader overlay
function hideLoader() {
    document.getElementById('loaderOverlay').classList.add('d-none');
}
</script>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src="https://colorjs.io/dist/color.global.js"></script>

<script src="https://cdn.jsdelivr.net/npm/print-js@1.6.0/dist/print.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/print-js@1.6.0/dist/print.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.js"></script>
{# <script src="https://unpkg.com/jspdf-autotable@3.8.1/dist/jspdf.plugin.autotable.js"></script> #}

<script src="https://cdn.jsdelivr.net/npm/pdfmake@0.2.9/build/pdfmake.min.js"></script>

{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.8.1/jspdf.plugin.autotable.min.js" integrity="sha512-8+n4PSpp8TLHbSf28qpjRfu51IuWuJZdemtTC1EKCHsZmWi2O821UEdt6S3l4+cHyUQhU8uiAAUeVI1MUiFATA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> #}

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>

<script>
    var calendar;

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            locale: "it",
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            //Set's the first date as monday
            firstDay: 1,
            showNonCurrentDates: false,
            dateClick: function(info) {
                showModal("newEventModal")
                fillForm({"partenza" : info.dateStr}, "form-new-prenotazione")
            },
            eventClick: function(info) {
                fillEvent(info.event.id);
            },
            events: function(info, successCallback, failureCallback) {
                showLoader() 
            
                var url = "/api/events/date/"
                
                var params = {
                    start: info.start,
                    end: info.end,
                }

                var headers = {
                    'X-Requested-With': 'XMLHttpRequest',
                }
                
                axios.get( url, { params, headers } ).then(function (res){
                    successCallback(
                        Array.prototype.slice.call(res.data).map(
                            function(eventEl) {
                                let bgColor = new Color(eventEl.color);
                                let curTextColor;
                                let highestContrast = 0;
                                let colorsToCheck = ["#FFFFFF", "#000000"];

                                for (let color of colorsToCheck) {
                                    let textColor = new Color(color);
                                    let contrast = bgColor.contrast(textColor, "WCAG21");
                                    if (contrast > highestContrast) {
                                        curTextColor = textColor;
                                        highestContrast = contrast;
                                    }
                                }

                                return {
                                    id: eventEl.id,
                                    title: eventEl.title,
                                    start: eventEl.start,
                                    backgroundColor: eventEl.color,
                                    borderColor: eventEl.color,
                                    textColor: curTextColor.toString({format: "hex"}),
                                } 
                            }
                        )
                    )

                hideLoader()
                })
            },

            aspectRatio: 1.5,
            handleWindowResize: true,
        });

        calendar.render();
    });

</script>

<style>

.fc-col-header-cell-cushion {
    color: black; /* Set the color to black */
    font-weight: bold; /* Make the text bold */
    text-decoration: none;
}

.fc-daygrid-day-number {
    text-decoration: none; /* Remove text underline */
    color: gray; /* Set the color to black */
}

</style>

<div class="row my-2">
    <div class="col-lg-12 mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newEventModal">
            <i class="bi bi-plus-circle"></i> Aggiungi Prenotazione
        </button>
        <button class="btn btn-secondary float-end" onclick="printCalendar()">
            <i class="bi bi-printer-fill"></i>
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-3 position-relative" id="calendarColumn">
            <div id='calendar' class="print-container"></div>
            <div class="loader-overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" id="loaderOverlay">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-lg-block" id="summaryColumn">
            <div style="background-color:#EEEEEE; padding: 4px; border-radius: 10px; overflow: hidden;">
                <h3>Riepilogo</h3>
                <x-forms.prenotazione class="short" id="form-prenotazione-summary" class="readonly-form" short type="div">
                    <button class="btn btn-primary float-end" id="open-btn" data-bs-toggle="modal" data-bs-target="#viewEventModal" disabled>Visualizza <i class="bi bi-eye-fill"></i></button>
                    {# <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Conferma"> #}
                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>


{# Modify Event Modal #}
<div class="modal modal-lg fade" id="viewEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <x-forms.prenotazione id="form-prenotazione" type="form">
                    <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Modifica">
                    <button class="btn btn-danger" onclick="deleteEvent(event)"><i class="bi bi-trash"></i></button>

                    <x-slot name="second_col">
                        <h2>Files</h2>

                        <x-forms.file id="fileForm"></x-forms.file>
                        <x-table.file id="fileTable"></x-table.file>
                    </x-slot>
                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>

{# Create New Event Modal #}
<div class="modal fade" id="newEventModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aggiungi Prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <x-forms.prenotazione id="form-new-prenotazione" type="form">
                    <input type="submit" class="btn btn-primary float-end" onclick="submitEventForm(event)" value="Conferma">    
                </x-forms.prenotazione>
            </div>
        </div>
    </div>
</div>

{% set script_location = url ~ "/templates/scripts/" %}

<script src={{ script_location ~ "cache.js" }}></script>
<script src={{ script_location ~ "utils.js" }}></script>
<script src={{ script_location ~ "calendar.js" }}></script>
<script src={{ script_location ~ "files.js" }}></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var forms = document.querySelectorAll('.readonly-form');

    forms.forEach(form => {
        disableForm(form, 2);
    });

});
</script>
{% endblock content %}
